@model Blog.Models.History
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12" style="height:25%">
        <div class="cards" style="margin-top:45px;">
            <div class="cards-image">
                <img src="http://loremflickr.com/1140/240" alt="Loading image...">
                <span class="cards-title">
                        @Model.Title
                </span>
            </div>
            <div class="cards-content">
                <p>Created by <b>@Model.CreatedBy</b> in @Model.CreatedOn</p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="cards" style="margin-top:25px;">
            <div class="cards-content">
                <form id="post" action="@Url.Action("CreatePost", "Home")">
                    <input type="hidden" value="@Model.Id" name="HistoryId" />
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-2">Body</label>
                            <div class="col-md-10">
                                <input type="text" name="Body" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" id="savePost" value="Save" data-unique="@Model.Id" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </form>
             </div>
        </div>
     
        <div id="posts">
            @{
                Html.RenderAction("PostsList", "Home", new { id = Model.Id });
            }
        </div>
    </div>
    
 
</div>

