<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - EGOIST</title>
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.css" rel="stylesheet" />
    <link href="~/bower_components/bootstrap-material-design/dist/css/ripples.css" rel="stylesheet" />
    <link href="~/bower_components/font-awesome/css/font-awesome.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
</head>
<body>
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <div class="navbar navbar-blue-gray navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Inbex", "Home", new { area = "" })" 
                    class="navbar-brand" style="color:white; margin-top:-10px">
                    <img src="@Url.Content("~/Content/img/blog_image.png")" />
                    Blog
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - EGOIST</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/bower_components/bootstrap-material-design/dist/js/material.js"></script>
    <script src="~/bower_components/bootstrap-material-design/dist/js/ripples.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script type="text/javascript">
        $(document)
            .ajaxStop(function () {
                $("#loader-wrapper").hide();
            })
            .ajaxSend(function (event, jqxhr, settings) { //verificar la url que se esta generando para evitar el loading de las notificaciones
                if (settings.url != "/Notifications/GetNotifications") {
                    $("#loader-wrapper").show();
                }
            }).ready(function () {
                $("#loader-wrapper").hide();
            });

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
